.pagination{
    margin-top: 20px;
}

.page-link{
    background-color: @medium !important;
    color:@caption !important;
    border-color: @bright !important;
}
.page-link-selected{
    background-color: @dark !important;
}
